// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*my code*/

/*button mixin*/
@mixin glowbutt($color:#7A1F1A){

    display:inline-block;
    width:100px;
    height:100px;
    line-height:100px;
    text-align: center;
    background: $color;
    border-radius: 50%;
    box-shadow: inset 0 -6px 0 0 darken($color, 12%);
    margin: 10px;
    transition: all 0 0 linear;
    
    &:hover {
        height: 97px;
        box-shadow: inset 0 -3px 0 0 darken($color, 12%);
        margin-top: 13px;
        margin-bottom: 10px;
    }
    
    &:active {
        height: 93px;
        margin-top: 17px;
        margin-bottom: 10px;
        width: 97px;
        background: lighten($color, 14%);
        box-shadow: 0 0 15px 5px lighten($color,14%);
    }
}
/*top buttons on screen*/
.fighter-select {
@include glowbutt(#96dbe5)
}
.mage-select {
@include glowbutt(#ab76d3)
}
.brawler-select {
@include glowbutt(#f92772)
}
.log-stats {
@include glowbutt(#BA2116)
}

/*2nd button row*/
.take-hit {
@include glowbutt(#96dbe5)
}







